body {
    color: #fdfdfd;
    background-color: #424242;
}

.navbar-default {
    background-color: #313131;
    border-color: #212121;
}

.page-content {
    background-color: #424242;
}

.modal-body {
    background-color: #424242;
}

.calendar .today {
    background-color: #313131;
}

.site-footer {
    border-top: 1px solid #212121;
}
