{% if page.images %}
{% assign images = page.images %}
{% elsif include.src %}
{% assign images = include.src %}
{% endif %}

{% if include.type == "normal" %}
<div class="grid grid--normal top-buffer">
{% else %}
<div class="grid grid--small top-buffer">
{% endif %}
{% for image in images %}
    <a href="{{ page.imgfolder }}{{ image.name }}" class="lightbox">
        <img class="lazy card-img" src="{% include helper/trans.html %}" data-src="{{ page.imgfolder }}thumbs/{{ image.name }}" alt="{{ image.text }}">
    </a>
    {% endfor %}
</div>
