<div class="lazy" data-src="kuebelspritze.js">
    {% include element/audio-player.html audio='kuebel-up' %}
    {% include element/audio-player.html audio='kuebel-down' %}
    <div class="alert alert-warning" role="alert">
        Die Anwendung funktioniert nur mit Mobilgeräten ab Chrome 67
    </div>
    <div class="alert alert-info" role="alert">
        Bewege dein Handy hoch und runter um zu pumpen :)
    </div>
    <div class="d-flex bottom-buffer">
        <img id="kuebel" src="/assets/images/games/kuebel-down.png" alt="Kübelspritze unten">
        <h5>Hübe: <span id="huebe">0</span></h5>
    </div>
</div>
