<div class="grid grid--small bottom-buffer">
    {% for image in include.src %}
    {% if image.name == "" or image.name == nil %}
      {% assign name = 'placeholder.svg' %}
    {% else %}
      {% assign name = image.name | append: '.jpg' %}
    {% endif %}
    <div class="card">
        <img class="lazy card-img-top img-fluid"
             src="{% include helper/trans.html width=image.width height=image.height %}"
             data-src="{{ page.imgfolder }}{{ include.type }}/{{ name }}"
             width="{{ image.width }}" height="{{ image.height }}"
             alt="{{ image.text }}">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title mt-auto">{{ image.text }}</h5>
            <p class="card-subtitle text-muted">{{ image.year }}</p>
        </div>
    </div>
    {% endfor %}
</div>
