<div class="grid grid--small bottom-buffer">
    {% for image in include.src %}
    <div class="card">
        <img class="lazy card-img-top" src="{% include helper/trans.html %}" data-src="{{ page.imgfolder }}{{ include.type }}/{{ image.name }}" alt="{{ image.text }}">
        <div class="card-body d-flex flex-column">
            <h5 class="card-title mt-auto">{{ image.text }}</h5>
            <p class="card-subtitle text-muted">{{ image.year }}</p>
        </div>
    </div>
    {% endfor %}
</div>
