<div class="grid grid--small bottom-buffer">
{% for image in site.data.archive.misc %}
    <a href="{{ page.imgfolder }}misc/{{ image.name }}.jpg" class="lightbox">
        <img class="lazy"
             src="{% include helper/trans.html width='200' height='200' %}"
             data-src="{{ page.imgfolder }}misc/thumbs/{{ image.name }}-1x.jpg"
             data-srcset="{{ page.imgfolder }}misc/thumbs/{{ image.name }}-1x.jpg 1x, {{ page.imgfolder }}misc/thumbs/{{ image.name }}-2x.jpg 2x, {{ page.imgfolder }}misc/thumbs/{{ image.name }}-3x.jpg 3x"
             width="200" height="200"
             alt="{{ image.text }}">
    </a>
    {% endfor %}
</div>
