{% if page.tags %}
  {% assign lang = nil %}
  {% if page.lang == 'by' %}
    {% assign lang = page.lang | prepend: '/' %}
  {% endif %}
  {% if page.tags contains 'allgemeines' %}
    {% assign tag = site.data.strings.[page.lang].common %}
  {% elsif page.tags contains 'einsaetze' %}
    {% assign tag = site.data.strings.[page.lang].mission %}
  {% elsif page.tags contains 'uebungen' %}
    {% assign tag = site.data.strings.[page.lang].drill %}
  {% endif %}
  <a class="btn btn-sm btn-primary btn-tag text-uppercase"
     href="{{ lang }}/{{ page.tags }}/"
     role="button">
  {% include element/icon.html icon="tag" %} {{ tag }}
  </a>
{% endif %}
<div class="btn btn-sm btn-primary btn-date">{% include helper/date.html %}</div>
