<ul id="posts" class="lazy list-unstyled" data-src="posts.js">
{% assign sorted-posts = site.posts | where: "lang", page.lang %}
{% for post in sorted-posts %}
  {% if forloop.index > 4 %}
  <li hidden>
  {% else %}
  <li>
  {% endif %}
    <a href="{{ post.url | prepend: site.baseurl }}">
      {% if post.images %}
      <img class="lazy img-fluid rounded" src="{% include helper/trans.html %}" data-src="{{ post.imgfolder}}thumbs/{{ post.images.first.name }}" alt="{{ post.images.first.text }}">
      {% else %}
      <img class="lazy img-fluid rounded" src="{% include helper/trans.html %}" data-src="/assets/images/index/wappen.png" alt="Wappen Bergkirchen">
      {% endif %}
    </a>
    <div>
      <div class="post-meta">
        {% include helper/date.html %}
      </div>
      <h5>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="invisible badge badge-primary" data-index="{{ forloop.rindex }}">Neu</span>
      </h5>
      {{ post.content | strip_html | truncatewords: 20 }}
      <a class="text-nowrap" href="{{ post.url | prepend: site.baseurl }}">
        {% if page.lang == 'by' %}
        Meara lesn
        {% else %}
        Mehr lesen
        {% endif %}
        {% include element/icon.html icon="chevrons-right" %}
      </a>
    </div>
  </li>
{% endfor %}
</ul>
<button id="moreposts" type="button" class="btn btn-outline-primary d-block mx-auto">
  {% include element/icon.html icon="plus" %}
  {% if page.lang == 'by' %}
  Meara
  {% else %}
  Mehr
  {% endif %}
</button>
<br>
<p class="card-text">
  {% include element/icon.html icon="rss" %}
  {% if page.lang == 'by' %}
  bstoin als
  <a rel="alternate" type="application/rss+xml" href="{{ '/feed-by.xml' | prepend: site.baseurl }}">RSS</a>
  oda
  <a rel="alternate" type="application/json" href="{{ '/feed-by.json' | prepend: site.baseurl }}">JSON</a>
  {% else %}
  abonnieren als
  <a rel="alternate" type="application/rss+xml" href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a>
  oder
  <a rel="alternate" type="application/json" href="{{ '/feed.json' | prepend: site.baseurl }}">JSON</a>
  {%- endif -%}
  -Feed
</p>
