<div class="lazy socialbox grid grid--normal font-weight-bold" data-src="socialbox.js" data-index="{{ include.index }}">
    <div>
        {% if post.lang == 'by' %}
        Den Beidrog
        {% else %}
        Diesen Beitrag
        {% endif %}
    </div>
    <div>
        {% include element/icon.html icon="star" %}
        {% if post.lang == 'by' %}
        bewertn
        {% else %}
        bewerten
        {% endif %}
        <div class="btn-group mx-2" role="group" aria-label="Beitrag bewerten">
            <button class="plus-btn btn btn-outline-primary" type="button">
                {% include element/icon.html icon="plus" %}
            </button>
            <button class="minus-btn btn btn-outline-primary" type="button">
                {% include element/icon.html icon="minus" %}
            </button>
            <button type="button" class="btn btn-primary">
                {% include element/icon.html icon="chevrons-right" %} <span id="rating" class="badge badge-light">0</span>
                <span class="sr-only">Bewertung</span>
            </button>
        </div>
    </div>
    <div>
        <button class="share-btn btn btn-outline-primary btn-sm" type="button">
            {% include element/icon.html icon="share-2" %}
        </button>
        {% if post.lang == 'by' %}
        weidagehm
        {% else %}
        teilen
        {% endif %}
        <a class="mx-2" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url}}{{ post.url}}" rel="nofollow noopener">
            {% include element/icon.html icon="facebook" %}
        </a>
        <a class="mx-2" href="https://twitter.com/share?text={{ post.title }}&url={{ site.url}}{{ post.url}}" rel="nofollow noopener">
            {% include element/icon.html icon="twitter" %}
        </a>
        <a class="mx-2" href="https://plus.google.com/share?url={{ site.url}}{{ page.url}}" rel="nofollow noopener">
            {% include element/icon.html icon="google" %}
        </a>
    </div>
</div>
