{% if page.videos %}
{% assign videos = page.videos %}
{% elsif include.src %}
{% assign videos = include.src %}
{% endif %}

{% if include.type == 'animation' %}
<div class="grid grid--normal top-buffer bottom-buffer">
  {% for video in videos %}
    {% include element/animation.html name=video.name %}
  {% endfor %}
</div>
{% else %}
<div class="grid grid--big top-buffer bottom-buffer">
  {% for video in videos %}
    {% include element/video.html name=video.name %}
  {% endfor %}
</div>
{% endif %}
