<div class="grid grid--small bottom-buffer">
    <img class="lazy img-fluid"
         src="{% include helper/trans.html width='276' height='300' %}"
         data-src="/assets/images/archive/taferl.png"
         width="276" height="300"
         alt="Taferl Feuerwehr Eisolzried">
    <img class="lazy img-fluid"
         src="{% include helper/trans.html width='275' height='300' %}"
         data-src="/assets/images/archive/wappen.png"
         width="275" height="300"
         alt="Wappen Bergkirchen">
    <img class="lazy img-fluid"
         src="{% include helper/trans.html width='212' height='271' %}"
         data-src="/assets/images/archive/feuerwehrwappen.png"
         width="212" height="271"
         alt="Bayerisches Feuerwehrwappen">
</div>
