<div class="grid grid--normal top-buffer bottom-buffer">
    <img class="lazy img-fluid mx-auto d-block" src="{% include helper/trans.html %}" data-src="/assets/images/index/taferl.png" alt="Taferl Feuerwehr Eisolzried">
    <img class="lazy img-fluid mx-auto d-block" src="{% include helper/trans.html %}" data-src="/assets/images/index/wappen.png" alt="Wappen Bergkirchen">
    <img class="lazy img-fluid mx-auto d-block" src="{% include helper/trans.html %}" data-src="/assets/images/index/feuerwehrwappen.png" alt="Bayerisches Feuerwehrwappen">
</div>
