<div class="lazy weather" data-src="weather.js">
    <img id="weather-img"
         class="lazy img-fluid rounded"
         src="{% include helper/trans.html width='189' height='126' %}"
         data-src="https://wttr.in/Eisolzried_0pq_transparency=200_lang=de.png"
         width="189" height="126"
         alt="Wetter in Eisolzried">
    <form id="weather-form">
        <div class="input-group mt-1">
            <input id="weather-input" class="form-control" type="text" placeholder="{{ site.data.strings.[page.lang].weather_for }}" aria-label="{{ site.data.strings.[page.lang].weather_for }}">
            <button id="weather-btn" class="btn btn-primary" type="button">OK</button>
        </div>
    </form>
</div>
