.marquee {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1 0 0;
}

#fire-truck {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 9s ease-in infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0) }
}
