.border-custom {
    padding: 2px;
    background:
      linear-gradient(to left, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 0 0 repeat-x,
      linear-gradient(to right, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 100% 100%  repeat-x,
      linear-gradient(to top, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 0 100% repeat-y,
      linear-gradient(to bottom, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 100% 0 repeat-y;
    background-size: 300% 2px, 300% 2px, 2px 300%, 2px 300%, 100% 100%;
}

.border-custom:hover {
    animation: animate 1s linear infinite;
}

.card {
    border: none;
}

.card-img {
    border-radius: initial;
}

@keyframes animate {
    to {
        background-position: 100% 0, 0% 100%, 0 0, 100% 100%, 0 0;
    }
}
