.calendar {
  width: 400px;
}

.calendar th {text-align: center;}
.calendar td {
  border: 1px solid #AEAEAE;
  width: 5em;
  height: 5em;
  max-width: 5em;
  padding: 0;
}

.calendar thead tr:first-child th {
  font-size: large;
  padding-bottom: 0.5em;
}

.calendar thead tr:last-child th {
  font-weight: normal;
  font-size: small;
  color: #939393;
}

.calendar .prev {float: left;}
.calendar .prev:before {content: "\00AB";}
.calendar .next {float: right;}
.calendar .next:after {content: "\00BB";}
.calendar .today { background-color: #E9EFF8;}
.calendar .extra {color: #AEAEAE;}
.calendar .daynum {
  text-align: right;
  padding-right: 0.5ex;
}

.calendar .dayevent {
  font-size: 11px;
  color: #da131a;
  cursor: pointer;
  padding-left: 0.5ex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar .btn {
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}

.calendar .btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
