.church {
    position: relative;
}

.weather {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;

    @include media-breakpoint-down(sm) {
        position: initial;
        padding: 1rem 0;
    }
}

#weather-input {
    width: 76px;
}
