// Bootstrap overrides
$primary: #da131a;
$white: #fdfdfd; // override bootstrap #fff and needed for snackbar
$enable-shadows : true;
$enable-gradients: true;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px
) !default;

// Fix for emoji-button
.emoji-picker__preview {
  box-sizing: content-box;
}