#feedbox {
  display: grid;
  grid-gap: 0.5rem;

  grid-template-columns: 81px 63px 125px auto;
  height: 400px;
  overflow-y: auto;
  
  @include media-breakpoint-down(sm) {
    grid-template-columns: 81px 63px auto;
    
    > div {
        grid-column: span 3;
    }
  }
}
