#feedbox {
  display: grid;
  grid-gap: 0.5rem;

  grid-template-columns: 82px 72px 175px auto;
  height: 400px;
  overflow-y: auto;
  
  @include media-breakpoint-down(md) {
    grid-template-columns: 82px 72px auto;
    
    > div {
        grid-column: span 3;
    }
  }
}
