#fire-run {
    display: flex;
    align-items: flex-end;
}

#fire-run-grisu,
#fire-run-station {
    cursor: pointer;
}

#fire-run-spacer {
    flex-grow: 1;
    animation: move 9s ease-in infinite;
    animation-direction: alternate;
    animation-play-state: paused;
}

#fire-run-station {
    margin-left: auto;
}

/* Make it move */
@keyframes move {
    to {
        flex-grow: 0;
    }
}
