#fire-run {
    display: flex;
    align-items: flex-end;
    margin-bottom: 3px;

    div {
        // spacer
        flex-grow: 1;
        animation: move 9s ease-in infinite;
        animation-direction: alternate;
        animation-play-state: paused;
    }
}

#grisu,
.icon--home {
    cursor: pointer;
}

.icon--home {
    margin-left: auto;
}

/* Make it move */
@keyframes move {
    to {
        flex-grow: 0;
    }
}
