.site-footer {
  border-top: 1px solid $gray-200;
  margin-top: 2rem;
  padding: 1rem 0;
}

.footer-item {
  padding: 0.5rem;
  display: inline-block;
}

.bottombar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: rgba(0,0,0,.3);
}

#progressbar {
  height: 100%;
  background-color: $primary;
  transform: scale(0);
  transform-origin: left;
  transition: transform .1s linear;
  will-change: transform;
}
