a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $brand-primary;
}

.gallery > a > img {
  padding-bottom: 15px;
}

.lazy {
  will-change: transition, opacity;
}

img.loaded, video.loaded {
  animation: fadeIn 0.6s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
