a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $brand-primary;
}

.lazy {
  opacity: 0;
}

img.loaded, video.loaded {
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
