.grid {
  display: grid;
  grid-gap: 2px;
  
  &--big {
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &--normal {
    @include media-breakpoint-only(xs) {
      grid-template-columns: repeat(1, 1fr);
    }
    @include media-breakpoint-up(sm) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &--small {
    @include media-breakpoint-only(xs) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-breakpoint-only(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-only(md) {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media-breakpoint-only(lg) {
      grid-template-columns: repeat(5, 1fr);
    }
    @include media-breakpoint-only(xl) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  > a {
    position: relative;
  }

  > a::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
  }

  > a:hover::after {
    background:
      linear-gradient(to left, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 0 0 repeat-x,
      linear-gradient(to right, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 100% 100%  repeat-x,
      linear-gradient(to top, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 0 100% repeat-y,
      linear-gradient(to bottom, $primary 33.33%, transparent 40% , transparent 50%, $primary 66.66%) 100% 0 repeat-y;
    background-size: 300% 2px, 300% 2px, 2px 300%, 2px 300%, 100% 100%;
    animation: animate 1s linear infinite;
  }

  img,
  > video {
    width: 100%;
  }
}

#image-grid,
#video-grid {
  // Fix initial glitch due empty space
  min-height: 1000px;
}

#posts {
  display: grid;
  grid-template-columns: 130px auto;
  grid-gap: 1rem;

  @include media-breakpoint-only(xs) {
    grid-template-columns: auto;
  }

  @include media-breakpoint-only(md) {
    grid-template-columns: auto;
  }
}

@keyframes animate {
  to {
      background-position: 100% 0, 0% 100%, 0 0, 100% 100%, 0 0;
  }
}
