.top-buffer {
  margin-top: 1rem;
}

.bottom-buffer {
  margin-bottom: 1rem;
}

.lazy {
  opacity: 0;
  will-change: opacity;
  
  // Zero height divs are not loaded by Intersection Observer
  // in Chromium 72+ any more
  min-height: 1px;
}

.loaded {
  animation: fadeIn 0.5s ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
