/* Base */
/* ----------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 50px;
}

/* Utility */
.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;  
}

.page-content .wrap {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/* Site header */
.navbar-default .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0.1s;
}

.navbar-default .navbar-nav > li > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.navbar-default .navbar-nav > li.active-nav-item {
  box-shadow: inset $white 0 -2px 0 0;
}

.form-control:focus {
  border-color: $brand-primary;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* Search and dropdown styles*/
/* ----------------------------------------------------------*/
.search {
  position: relative;
}

.search input {
  padding-left: 30px;
}

.search .icon {
  position: absolute;
  margin-left: 7px;
  margin-top: 7px;
  color: #bbb;
}

.search input:focus + .search-results {
  display: block;
}

.dropdown-menu,
.search-results {
  display: none;
  position: absolute;
  margin-top: 16px;
  z-index: 10;
  background: $white;
  border: 1px solid;
  border-color: #cbcfe2 #c8cee7 #c4c7d7;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, $white, #eceef4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.search-results:hover,
.search-results li {
  display: block;
}

.search-results li:first-child {
  margin-top: -1px;
}

.search-results li:first-child:before, .search-results li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  border: 5px outset transparent;
}

.search-results li:first-child:before {
  border-bottom: 5px solid #c4c7d7;
  top: -11px;
}

.search-results li:first-child:after {
  border-bottom: 5px solid $white;
  top: -10px;
}

.search-results li:first-child:hover:before, .search-results li:first-child:hover:after {
  display: none;
}

.search-results li:last-child {
  margin-bottom: -1px;
}

.dropdown-menu > li > a,
.search-results a {
  display: block;
  position: relative;
  margin: 0 -1px;
  padding: 6px 6px 6px 10px;
  color: #808394;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 3px;
}

.modal-header,
.dropdown-toggle[aria-expanded="true"],
.dropdown-menu > li > a:hover,
.search-results a:hover {
  color: $white !important;
  text-decoration: none;
  background-image: linear-gradient(to bottom, $brand-primary, darken($brand-primary, 6.5%));
}

/* Site footer */
.site-footer {
  border-top: 1px solid $gray-lighter;
  padding: 30px 0;
}

/* Page Content styles */
/* ----------------------------------------------------------*/
.page-content {
  padding: 30px 0;
  background-color: $white;
}

.page-content table {
  margin-left: auto;
  margin-right: auto;
}
 		
.page-content td {
  vertical-align: top;
  padding-right: 50px;
}

/* Home styles */
/* ----------------------------------------------------------*/
.posts { list-style-type: none; }

.posts li { margin-bottom: 20px; }

.posts .post-link {
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: $gray;
}

#posts-btn {
  display: block;
  width: 100%;
}

/* Post styles */
/* ----------------------------------------------------------*/
.meta {
  font-size: 15px;
  color: $gray;
  margin-top: 5px;
}

table {
  max-width: 99%; /*ugly fix to remove scrollbar for small calendars*/
}

/* Video styles */
/* ----------------------------------------------------------*/
video {
  display: block;
  margin: 10px auto;
  width: 640px;
  max-width: 90%;
}

/* Helper styles */
/* ----------------------------------------------------------*/
.top-buffer {
  margin-top: 10px;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
}
