/* Navbar */
.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $white;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0.1s;
}

.nav-link:hover:before {
  transform: scaleX(1);
}

.active-nav-item {
  box-shadow: inset $white 0 -2px 0 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}

.nav-item {
  // fixes hover effekt for bootstrap
  position: relative;
}

/* Search and dropdown styles*/
/* ----------------------------------------------------------*/
#search-input {
  width: 150px;
}

#results-container:hover,
#search-input:focus:not(:placeholder-shown) + #results-container {
  display: block;
}

.dropdown-menu {
  color: $white;
  background-color: $primary;
  border-color: darken($primary, 5%);
}

.dropdown-item {
  color: $white;
}

.dropdown-item:hover {
  color: $link-color;
}
