.page-header {
  margin: 2rem 0 1rem;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, $primary, transparent) 100% 1;

  > div {
    padding-top: 20px;
    opacity: 0;
    @include transition(opacity .25s ease-in-out);
  }

  &:hover > div {
    opacity: 1;
  }
}

.post-meta {
  color: $gray-700;
}

.btn.btn-posts {
  background: $primary;
}

.btn-posts {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
  margin: 0 1rem 1rem 1rem;
}

.btn-posts:before,
.btn-posts:after { /* make two squares (before and after), looking similar to the button */
  content: "";
  position: absolute;
  top: 4px; /* move it down because of rounded corners */
  width: 21px; /* same as height */
  height: 21px; /* button_outer_height / sqrt(2) */
  background: inherit; /* use parent background */
  border: inherit; /* use parent border */
  border-top-color: transparent; /* hide top border (on hover) */
  border-right-color: transparent; /* hide right border (on hover) */
  border-radius: 0; /* dont round arrow corner */
}

.btn-posts:before { /* align the "before" square to the left */
  left: -10px;
  transform: rotate(45deg); /* rotate arrow squares 45 deg to point left */
}

.btn-posts:after { /* align the "after" square to the right */
  right: -10px;
  transform: rotate(225deg); /* rotate arrow squares 225 deg to point right */
}
