.page-header {
  margin-bottom: 1rem;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(90deg, $primary, transparent) 100% 1;

  > div {
    padding-top: 20px;
    opacity: 0;
    @include transition(opacity .25s ease-in-out);
  }

  &:hover > div {
    opacity: 1;
  }
}

.post-meta {
  color: $gray-700;
}

.btn.btn-date {
  background: $primary;
}

.btn-date {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: 1rem;
}

.btn-date:before,
.btn-date:after { /* make two squares (before and after), looking similar to the button */
  content: "";
  position: absolute;
  top: 4px; /* move it down because of rounded corners */
  width: 21px; /* same as height */
  height: 21px; /* button_outer_height / sqrt(2) */
  background: inherit; /* use parent background */
  border: inherit; /* use parent border */
  border-top-color: transparent; /* hide top border (on hover) */
  border-right-color: transparent; /* hide right border (on hover) */
  border-radius: 0; /* dont round arrow corner */
}

.btn-date:before { /* align the "before" square to the left */
  left: -10px;
  transform: rotate(45deg); /* rotate arrow squares 45 deg to point left */
}

.btn-date:after { /* align the "after" square to the right */
  right: -10px;
  transform: rotate(225deg); /* rotate arrow squares 225 deg to point right */
}

.btn-tag {
  margin-left: -26px;
  padding-left: 26px;
  position: relative;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-tag:before {
  content: "";
  position: absolute;
  top: -11px;
  left: 0;
  border-color: transparent darken($primary, 25%) darken($primary, 25%) transparent;
  border-style: solid;
  border-width: 5px;
  width: 0;
  height: 0;
}

.btn-date,
.btn-tag {
  margin-bottom: 1rem;
}
