#posts li {
  padding-bottom: 1rem;
}

.post-link {
  font-size: 22px;
  letter-spacing: -0.25px;
  line-height: 1;
}

.post-meta {
  font-size: 17px;
  color: $gray-700;
  flex: 0 1 100%;
}

#moreposts {
  display: block;
  width: 100%;
}
