.posts { list-style-type: none; }

.posts li { margin-bottom: 20px; }

.posts .post-link {
  font-size: 20px;
  letter-spacing: -0.5px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: $gray;
}

#posts-btn {
  display: block;
  width: 100%;
}

.meta {
  font-size: 15px;
  color: $gray;
  margin-top: 5px;
}
