#posts > li {
  padding-bottom: 1rem;
}

.post-meta {
  color: $gray-700;
}

.media {
  img {
    width: 125px;
    height: 125px;
    margin-right: 1rem;
  }

  @include media-breakpoint-down(md) {
    display: block;  
    img {
      max-width: 100%;
      width: auto;
      height: auto;
      margin-right: auto;
    }
  }
}
