<footer class="site-footer">

  <div class="wrap text-center">
    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <span class="ion ion-social-github" aria-label="GitHub Icon"></span> Quelltext
    </a>&nbsp;
    {% endif %}
    <a href="/impressum/">Impressum</a>&nbsp;
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow" target="_blank"><img src="/assets/license.png" alt="Creative Commons BY-NC-SA" height="15" width="80"></a>
  </div>

</footer>

