<footer class="site-footer">

  <div class="wrap text-center">
    <a class="footer-item" href="{{ site.repo }}" target="_blank" rel="noopener">
      {% include icon.html icon="github" %}
      {% if page.lang == 'by' %}
      Soß
      {% else %}
      Quelltext
      {% endif %}
    </a>
    <a class="footer-item" href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" target="_blank" rel="nofollow noopener">
      {% include icon.html icon="cc" %}
      BY-NC
    </a>
    <a class="footer-item" href="/impressum/">Impressum</a>
    <div class="footer-item">
      {% if page.lang == 'by' %}
      Mid {% include icon.html icon="heart" %} baud vo 
      {% else %}
      Mit {% include icon.html icon="heart" %} gebaut von 
      {% endif %}
      <a href="https://rohner.io/" target="_blank" rel="noopener">Rohner Solutions</a>
    </div>
  </div>
  <div class="bottom-bar">
    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

</footer>
