{% if include.image == null %}
<ul class="list-unstyled">
  {% for image in page.images %}
  <li>
    <a href="{{ page.imgfolder }}/{{ image.name }}" data-lightbox="1" title="{{ image.text }}">
      <img src="{{ page.imgfolder }}/thumbs/{{ image.name }}" title="{{ image.text }}" alt="{{ image.text }}" width="640">
    </a>
  </li>
  {% endfor %}
</ul>
{% else %}
  {% for image in page.images %}
    {% if image.name == include.image %}
<a href="{{ page.imgfolder }}/{{ image.name }}" data-lightbox="1" title="{{ image.text }}">
  <img src="{{ page.imgfolder }}/thumbs/{{ image.name }}" title="{{ image.text }}" alt="{{ image.text }}" width="640">
</a>
    {% break %}
    {% endif %}
  {% endfor %}
{% endif %}

