<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{{ "/css/bootstrap-theme.min.css" | prepend: site.baseurl }}">
    
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ "/css/ionicons.min.css" | prepend: site.baseurl }}">

    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ "/css/jquery-ui.min.css" | prepend: site.baseurl }}">

    <!-- jQuery UI theme -->
    <link rel="stylesheet" href="{{ "/css/jquery-ui.theme.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/jquery-ui.structure.min.css" | prepend: site.baseurl }}">

    <!-- Lightbox -->
    <link rel="stylesheet" href="{{ "/css/lightbox.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
</head>
