{% assign lang = nil %}
{% if page.lang != 'de' %}
  {% assign lang = page.lang | prepend: '/'%}
{% endif %}
<nav class="navbar navbar-expand-xl navbar-dark bg-gradient-primary" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="{{ lang }}{{ site.baseurl }}/">{{ site.data.strings.[page.lang].firefighters_eisolzried }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="{{ site.data.strings.[page.lang].toggle_navigation }}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <form class="form-inline">
        <div class="input-group mr-sm-2">
          <div class="input-group-prepend">
            <div class="input-group-text">
              {% include icon.html icon="search" %}
            </div>
          </div>
          <input id="search-input" class="form-control" type="text" placeholder="{{ site.data.strings.[page.lang].search }}" aria-label="{{ site.data.strings.[page.lang].search }}">
          <div id="results-container" class="dropdown-menu"></div>
        </div>
      </form>
      <div class="btn-group my-2 my-xl-0" role="group" aria-label="Navbar buttons">
        <button id="language-btn" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Sprache wechseln" aria-label="Sprache wechseln">
          {% if page.lang == 'by' %}
          {% include icon.html icon='de' %}
          {% else %}
          {% include icon.html icon='by' %}
          {% endif %}
        </button>
        <button id="theme-switch" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Hintergrundfarbe ändern" aria-label="Hintergrundfarbe ändern">
          {% include icon.html icon="moon" id="theme-icon" %}
        </button>
        <button id="siren-btn" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Sirene einschalten" aria-label="Sirene einschalten">
          {% include icon.html icon="play" id="siren-icon" %}
        </button>
      </div>
      {% include audio-player.html audio='siren' loop=true %}
      <ul class="navbar-nav">
        {% for link in site.data.navigation.[page.lang] %}
        {% if link.submenu %}
          {% assign active = nil %}
          {% for sublink in link.submenu %}
            {% if page.url contains sublink.url %}
              {% assign active = 'active-nav-item' %}
              {% break %}
            {% endif %}
          {% endfor %}
          <li class="nav-item dropdown {{ active }}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {% include icon.html icon=link.icon %} {{ link.title }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for sublink in link.submenu %}
              <a class="dropdown-item" href="{{ sublink.url }}">
                {% include icon.html icon=sublink.icon %} {{ sublink.title }}
              </a>
              {% endfor %}
          </li>
        {% else %}
          {% if page.url contains link.url %}
          <li class="nav-item active-nav-item">
          {% else %}
          <li class="nav-item">
          {% endif %}
            <a class="nav-link" href="{{ link.url }}">
              {% include icon.html icon=link.icon %} {{ link.title }}
            </a>
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div><!-- container -->
</nav>
