<header class="site-header">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% assign lang = '' %}
        {% if page.lang == 'by' %}
          {% assign lang = '/by' %}
      {% endif %}
      <a class="navbar-brand" href="{{ lang }}{{ site.baseurl }}/">Feuerwehr Eisolzried</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="search">
        <form class="navbar-form navbar-left" role="search">
          <span class="icon icon-search"></span>
          <input type="text" class="form-control" id="search-input" placeholder="durchsuchen...">
          <ul class="search-results" id="results-container"></ul>
        </form>
      </div>
      <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-globe"></i>Sprache <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ page.url | remove_language }}"><img src="/assets/de.png" alt="Flagge Deutschland" height="19" width="32"/> Deutsch</a></li>
            <li><a href="/by{{ page.url | remove_language }}"><img src="/assets/by.png" alt="Flagge Bayern" height="19" width="32"/> Boarisch</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ lang }}/team"><i class="icon-fire"></i>Team</a></li>
        <li><a href="{{ lang }}/karten"><i class="icon-map"></i>Karten</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-users"></i>Verein <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/data/mitgliedsantrag.pdf"><i class="icon-user-add"></i>Mitmachen</a></li>
            <li><a href="{{ lang }}/chronik"><i class="icon-history"></i>Chronik</a></li>
            <li><a href="{{ lang }}/satzung"><i class="icon-doc"></i>Satzung</a></li>
            <li><a href="{{ lang }}/statistiken"><i class="icon-chart-bar"></i>Statistiken</a></li>
            <li><a href="{{ lang }}/intern"><i class="icon-lock"></i>Intern</a></li>
          </ul>
        </li>
        <li><a href="{{ lang }}/media"><i class="icon-cloud"></i>Media</a></li>
        <li><a href="{{ lang }}/links"><i class="icon-link"></i>Links</a></li>
        <li><a href="{{ lang }}/kontakt"><i class="icon-comment"></i>Kontakt</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>

</header>
