<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/taferl.png"> {{ site.title }}</a>

<!-- Fixed navbar -->
    <div class="navbar navbar-fixed" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/"><span class="ion ion-home"></span>&nbsp; Home</a></li>
            <li><a href="/team"><span class="ion ion-ios-people"></span>&nbsp; Team</a></li>
            <li><a href="/chronik"><span class="ion ion-android-time"></span>&nbsp; Chronik</a></li>
            <li><a href="/links"><span class="ion ion-link"></span>&nbsp; Links</a></li>
            <li><a href="/kontakt"><span class="ion ion-chatboxes"></span>&nbsp; Kontakt</a></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div><!-- /.container -->
    </div>
  </div><!-- /.wrap -->

</header>
