<div class="lazy" data-src="/assets/js/kuebelspritze.js">
    {% include audio-player.html audio='kuebel-up' %}
    {% include audio-player.html audio='kuebel-down' %}
    <div class="alert alert-warning" role="alert">
        Die Anwendung funktioniert nur mit Mobilgeräten ab Chrome 67
    </div>
    <div class="alert alert-info" role="alert">
        Bewege dein Handy hoch und runter um zu pumpen :)
    </div>
    <div class="grid grid--small top-buffer">
        <img id="kuebel" src="/assets/images/games/kuebel-down.png" alt="Kübelspritze unten">
        <div>
            <h5>Hübe:</h5>
            <p id="huebe">0</p>
        </div>
    </div>
</div>
