{% if page.lang == 'by' %}
{% assign pictures = 'Buidl' %}
{% assign videos = 'Fuim' %}
{% assign animations = 'Animationa' %}
{% else %}
{% assign pictures = 'Bilder' %}
{% assign videos = 'Videos' %}
{% assign animations = 'Animationen' %}
{% endif %}

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#bilder" role="tab" aria-controls="bilder" aria-expanded="true">{% include icon.html icon="image" %} {{ pictures }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-expanded="true">{% include icon.html icon="video" %} {{ videos }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#animationen" role="tab" aria-controls="animationen" aria-expanded="true">{% include icon.html icon="repeat" %} {{ animations }}</a>
  </li>
</ul>
  
<div class="tab-content">
  <div role="tabpanel" id="bilder" class="tab-pane active" aria-labelledby="bilder-tab">
{% include gal.html src=site.data.media.images %}
  </div>
  <div role="tabpanel" id="videos" class="tab-pane" aria-labelledby="videos-tab">
{% include vid.html src=site.data.media.videos %}
  </div>
  <div role="tabpanel" id="animationen" class="tab-pane" aria-labelledby="animationen-tab" markdown="1">
{% include ani.html src=site.data.media.animations %}
  </div>
</div>
