{% if page.lang == 'by' %}
{% assign pictures = 'Buidl' %}
{% assign videos = 'Fuim' %}
{% assign animations = 'Animationa' %}
{% else %}
{% assign pictures = 'Bilder' %}
{% assign videos = 'Videos' %}
{% assign animations = 'Animationen' %}
{% endif %}

<ul class="lazy nav nav-tabs" role="tablist" data-src="/assets/js/lightbox.js">
  <li class="nav-item">
    <a id="bilder-tab" class="nav-link active" data-toggle="tab" href="#bilder" role="tab" aria-controls="bilder" aria-selected="true">{% include icon.html icon="image" %} {{ pictures }}</a>
  </li>
  <li class="nav-item">
    <a id="videos-tab" class="nav-link" data-toggle="tab" href="#videos" role="tab" aria-controls="videos" aria-selected="false">{% include icon.html icon="video" %} {{ videos }}</a>
  </li>
  <li class="nav-item">
    <a id="animationen-tab" class="nav-link" data-toggle="tab" href="#animationen" role="tab" aria-controls="animationen" aria-selected="false">{% include icon.html icon="repeat" %} {{ animations }}</a>
  </li>
</ul>

<div class="lazy tab-content" data-src="/assets/js/media.js">
  <div role="tabpanel" id="bilder" class="tab-pane active" aria-labelledby="bilder-tab">
    <div id="image-grid" class="grid grid--small top-buffer"></div>
  </div>
  <div role="tabpanel" id="videos" class="tab-pane" aria-labelledby="videos-tab">
    <div id="video-grid" class="grid grid--small top-buffer"></div>
  </div>
  <div role="tabpanel" id="animationen" class="tab-pane" aria-labelledby="animationen-tab">
{% include vid.html src=site.data.media.animations type='animation' %}
  </div>
</div>
