<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | prepend: site.baseurl }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | prepend: site.baseurl }}">
<link rel="manifest" href="{{ '/site.webmanifest' | prepend: site.baseurl }}">
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
<link href="{{ '/feed.xml' | prepend: site.baseurl }}" type="application/rss+xml" rel="alternate" title="Die letzten 10 Beiträge">
<meta name="msapplication-TileColor" content="#da131a">
<meta name="msapplication-config" content="{{ '/browserconfig.xml' | prepend: site.baseurl }}">
<meta name="theme-color" content="#da131a">
<meta name="referrer" content="no-referrer">
