<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
<!--[if IE]><link rel="shortcut icon" href="{{ '/assets/favicons/favicon.ico' | prepend: site.baseurl }}"><![endif]-->

<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon-precomposed.png' | prepend: site.baseurl }}">

<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
<link rel="icon" sizes="196x196" href="{{ '/assets/favicons/favicon.png' | prepend: site.baseurl }}">

<link rel="manifest" href="{{ '/manifest.json' | prepend: site.baseurl }}">
<meta name="theme-color" content="#da131a">