<ul id="posts" class="list-unstyled">
{% assign sorted-posts = site.posts | where: "lang",page.lang %}
{% for post in sorted-posts %}
  {% if forloop.index > 10 %}
  <li hidden>
  {% else %}
  <li>
  {% endif %}
    <div class="post-meta">{{ post.date | localize: "%e. %B %Y" }}</div>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
<button id="moreposts" type="button" class="lazy btn btn-outline-primary d-block mx-auto">
  {% include icon.html icon="plus" %}
  {% if page.lang == 'by' %}
  Meara
  {% else %}
  Mehr
  {% endif %}
</button>
<br>
<p class="card-text">
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
    {% include icon.html icon="cast" %}
    {% if page.lang == 'by' %}
    As neiaste bschtoin
    {% else %}
    RSS abonnieren
    {% endif %}
  </a>
</p>
