{% assign sorted-posts = site.posts | where: "lang",page.lang %}
  {% for post in sorted-posts %}
    {% if post.url == page.url and page.lang == post.lang %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
    {% endif %}
  {% endfor %}
  {% for post in sorted-posts %}
    {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
    {% endif %}
    {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
    {% endif %}
  {% endfor %}

  <nav class="post-nav">
  {% if prev_post %}
    <a href="{{ prev_post.url }}">&laquo; {{ prev_post.title }}</a>
  {% endif %}
  {% if next_post %}
    <a class="next-post" href="{{ next_post.url }}">{{ next_post.title }} &raquo;</a>
  {% endif %}
  </nav>
  