<ul id="posts" class="posts">
{% for post in site.posts %}
{% assign loopindex = forloop.index %}
  {% if page.lang == post.lang %}
  {% if loopindex > 16 %}
  <li class="hidden">  
  {% else %}
  <li>
  {% endif %}
    <span class="post-date">{{ post.date | localize: "%e. %B %Y" }}</span>
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
  {% endif %}
{% endfor %}
</ul>
{% if page.lang == 'by' %}
<button id="posts-btn" type="button" class="btn btn-default">Meara</button>
<br>
<p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">{% include icon.html icon="cast" %}As neiaste bschtoin</a></p>
{% else %}
<button id="posts-btn" type="button" class="btn btn-default">Mehr</button>
<br>
<p><a href="{{ "/feed.xml" | prepend: site.baseurl }}">{% include icon.html icon="cast" %}RSS abonnieren</a></p>
{% endif %}
