<section class="share">
{% include icon.html icon="share-2" %}
{% if page.lang == 'by' %}
Den Beitrog weidagehm
{% else %}
Diesen Beitrag teilen
{% endif %}
  <a class="share-link" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url}}{{ page.url}}" rel="nofollow noopener">
    {% include icon.html icon="facebook" %}
  </a>
  <a class="share-link" href="http://twitter.com/share?text={{ page.title }}&url={{ site.url}}{{ page.url}}" rel="nofollow noopener">
    {% include icon.html icon="twitter" %}
  </a>
</section>
  