<video class="lazy embed-responsive-item" controls preload="metadata" playsinline>
    <source data-src="{{ page.vidfolder }}{{ include.name }}.webm" type="video/webm">
    <source data-src="{{ page.vidfolder }}{{ include.name }}.mp4" type="video/mp4">
    Dein Browser unterstützt das Video tag nicht.
</video>
<noscript>
    <video class="embed-responsive-item" controls preload="metadata" playsinline>
        <source src="{{ page.vidfolder }}{{ include.name }}.webm" type="video/webm">
        <source src="{{ page.vidfolder }}{{ include.name }}.mp4" type="video/mp4">
        Dein Browser unterstützt das Video tag nicht.
    </video>
</noscript>
