<div class="grid grid--normal top-buffer">
    <img class="lazy img-fluid mx-auto d-block" src="{% include trans.html %}" data-src="/assets/images/index/taferl.png" alt="Taferl Feuerwehr Eisolzried">
    <img class="lazy img-fluid mx-auto d-block" src="{% include trans.html %}" data-src="/assets/images/index/wappen.png" alt="Wappen Bergkirchen">
    <img class="lazy img-fluid mx-auto d-block" src="{% include trans.html %}" data-src="/assets/images/index/feuerwehrwappen.png" alt="Bayerisches Feuerwehrwappen">
    <noscript>
        <img class="img-fluid mx-auto d-block" src="/assets/images/index/taferl.png" alt="Taferl Feuerwehr Eisolzried">
        <img class="img-fluid mx-auto d-block" src="/assets/images/index/wappen.png" alt="Wappen Bergkirchen">
        <img class="img-fluid mx-auto d-block" src="/assets/images/index/feuerwehrwappen.png" alt="Bayerisches Feuerwehrwappen">
    </noscript>
</div>
