<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th>Funkrufname</th>
            <th>Typ</th>
            <th>Bezeichnung</th>
            <th>Fahrgestell</th>
            <th>Ausbau</th>
            <th>Baujahr</th>
            <th>Pumpenleistung</th>
            <th>Tankinhalt</th>
            <th>Beladung</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Florian Eisolzried 47/1</td>
            <td>MLF</td>
            <td>Mittleres Löschfahrzeug</td>
            <td>MAN TGL 8.180 7,5t</td>
            <td>Lentner</td>
            <td>2016</td>
            <td>1000 l/min</td>
            <td>600 Liter Wassertank</td>
            <td><a href="http://kfv-dachau.de/index.php?page=1027" rel="noopener">{% include icon.html icon="external-link" %} in einem neuen Fenster öffnen</a></td>
        </tr>
        <tr>
            <td>Florian Eisolzried 44/1</td>
            <td>TSF</td>
            <td>Tragkraftspritzenfahrzeug</td>
            <td>VW LT</td>
            <td>Bachert</td>
            <td>?</td>
            <td>800 l/min</td>
            <td>-</td>
            <td>?</td>
        </tr>
        </tbody>
    </table>
</div>
