.calendar {
  width: 400px;

  th {
    text-align: center;
  }

  td {
    position: relative;
    border: 1px solid #AEAEAE;
    width: 5em;
    height: 5em;
    max-width: 5em;
    padding: 0;
  }

  thead tr:first-child th {
    font-size: large;
    padding-bottom: 0.5em;
  }

  thead tr:last-child th {
    font-weight: normal;
    font-size: small;
    color: #939393;
  }

  .prev {
    float: left;
  }

  .prev:before {
    content: "\00AB";
  }

  .next {
    float: right;
  }

  .next:after {
    content: "\00BB";
  }

  .today {
    background-color: #E9EFF8;
  }

  .extra {
    color: #AEAEAE;
  }

  .daynum {
    position: absolute;
    top: 0.5ex;
    right: 0.5ex;
  }

  .dayevent {
    font-size: 11px;
    padding-left: 0.5ex;
    white-space: initial;
  }

  th > .btn {
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: linear-gradient(#fdfdfd, #fdfdfd 25%, #e6e6e6);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
  }

  th > .btn:hover {
    background-position: 0 -15px;
    color: #333;
    text-decoration: none;
  }
}
