---
layout: default
---
<!DOCTYPE html>
<html lang="de-DE">

  {% include head.html %}

  <body>

  {% include header.html %}

  <main>
    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>
  </main>

  {% include footer.html %}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!--[if IE]>
  <script src="{{ "/assets/fetch.js" | prepend: site.baseurl }}"></script>
  <![endif]-->
  <script src="{{ "/assets/js/jquery-3.2.1.min.js" | prepend: site.baseurl }}"></script>
  {% if page.js %}
    {% for script in page.js %}
    <script {{ script.attr }} src="{{ "/assets/js/" | append: script.name | append: '.js' | prepend: site.baseurl }}"></script>
    {% endfor %}
  {% endif %}
  <script async src="{{ "/assets/js/bundle.min.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
