---
layout: default
---
<!DOCTYPE html>
<html lang="de-DE" class="lazy" data-src="/assets/js/bootstrap.js">

  {% include head.html %}

  <body class="lazy" data-src="/assets/js/snackbar.js">
    
    {% include header.html %}

    <main class="lazy" data-src="/assets/js/registration.js">
      <div class="container shadow pb-1">

        {% include alert.html %}
        
        {{ content }}
        
      </div>
    </main>

    {% include footer.html %}

    {% include snackbar.html %}

    {% include modal.html %}
  </body>

</html>
