---
layout: default
---
<!DOCTYPE html>
<html lang="de-DE">

  {% include head.html %}

  <body>

  {% include header.html %}

  <main>
    <div class="page-content">
      <div class="wrap">
        {{ content }}
      </div>
    </div>
  </main>

  {% include footer.html %}

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!--[if IE]>
  <script defer src="{{ "/assets/js/fetch.js" | prepend: site.baseurl }}"></script>
  <![endif]-->
  <script defer src="{{ "/assets/js/bootstrap-native.min.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/assets/js/lightbox.min.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/assets/js/ical.min.js" | prepend: site.baseurl }}"></script>
  <script defer src="{{ "/assets/js/bundle.min.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
