---
layout: default
lang: de
---
<article>
  <div class="page-header">
    <h1>{{ page.title }}</h1>
    {% include fire-run.html %}
    <p class="post-meta">
        {{ page.date | localize: "%e. %B %Y" }}
        {% if page.author %} • {{ page.author }}{% endif %}
        {% if page.meta %} • {{ page.meta }}{% endif %}
        {% assign lang = nil %}
        {% if page.lang == 'by' %}
          {% assign lang = page.lang | prepend: '/'%}
        {% endif %}
        {% if page.tags %} • {% include icon.html icon="tag" %}<a href="{{ lang }}/{{ page.tags }}/">{{ page.tags }}</a>{% endif %}
    </p>
  </div>

  {{ content }}

</article>

<hr>

{% include social.html %}

{% include post-nav.html %}
